{% extends 'base.html' %}

{% block head %}
  <title>Fraud Detection</title>
{% endblock %}

{% block body %}

<div class="flex justify-center m-10 px-4">
  <div class="card bg-base-100 shadow-md p-6 w-full max-w-2xl">
    <h2 class="text-center text-lg rubik-mono-one-light mb-4">Compose Email for Fraud Detection</h2>

    <form action="/" method="post" class="space-y-4">

      <!-- Sender Email -->
      <label class="input validator w-full">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
          </g>
        </svg>
        <input type="email" name="senderMail" placeholder="Sender Email Address" required />
      </label>
      <div class="validator-hint hidden">Enter valid email address</div>

      <!-- Subject -->
      <label class="input flex items-center w-full">
        <input type="text" name="subject" class="grow" placeholder="Email Subject" />
        <span class="badge badge-outline badge-xs ml-2">Optional</span>
      </label>

      <!-- Email Body -->

        <textarea
          name="emailBody"
          id="emailBody"
          rows="10"
          placeholder="Type or paste the email content here..."
          class="textarea textarea-bordered w-full resize-y"
          required
        ></textarea>

      <!-- Submit -->
      <div class="pt-4 flex justify-center">
        <button type="submit" class="btn btn-primary max-w-xs w-full">Submit for Analysis</button>
      </div>

    </form>
  </div>
</div>

{% endblock %}
